table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}
th,
td {
  border: 1px solid gray;
  padding: 5px 10px;
  text-align: center;
}
.btn-delete {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background: red;
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
}
